*{
    margin: 0px;
    list-style: none;
}


@media(min-width:200px) and (max-width:500px) {

    body{
    
        background-image: url(./wallpaper.jpg);
    }
    
    h1{
     text-align: center;
     margin-top: 4rem;
     text-decoration: underline;
     font-size: 4rem;
     background-color: rgb(203, 243, 243);
    
    }
    
    main{
    display: flex;
    flex-direction:column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    img{
    
        height: 300px;
        border: 0.2rem solid black;
        border-radius: 35%;
    }
    
    }
    
    
    aside{
        transform-style: preserve-3d;
            text-align: center;
            animation: right 5s infinite;
            transition: transform 4s;
            position: relative;
    
        .imageone{
             position: absolute;
             
        
        }
        .imagetwo{
    
            backface-visibility: hidden;
    
        }
        .imagetwo{
    
            transform: rotateY(180deg);
        }
        
        
    }
    
    
       @keyframes right {
       
         0% {transform: rotateY(0deg);}
         25% {transform: rotateY(40deg);}
         45%  {transform: rotateY(100deg);}
         65%   {transform: rotateY(150deg);}
         75%  {transform: rotateY(170deg);}
         100% {transform: rotateY(200deg);}
       }
       
     article{
        transform-style: preserve-3d;
            text-align: center;
            animation: right 5s infinite;
            transition: transform 4s;
            position: relative;
    
        .three{
             position: absolute;
             
        
        }
        .imagefour{
            backface-visibility: hidden;
    
        }
        .imagefour{
    
            transform: rotateY(180deg);
        }
          
    }
    
    iframe{
    
        height: 300px;
        width: 300px;
        border-radius: 20px;
    }
    
    }

 @media(min-width:501px) and (max-width:999px) {

        body{
        
            background-image: url(./wallpaper.jpg);
        }
        
        h1{
         text-align: center;
         margin-top: 4rem;
         text-decoration: underline;
         font-size: 4rem;
         background-color: rgb(203, 243, 243);
        
        }
        
        main{
        display: flex;
        flex-direction:column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin-top: 7rem;
        img{
        
            height: 400px;
            border: 0.2rem solid black;
            border-radius: 35%;
        }
        
        }
        
        
        aside{
            transform-style: preserve-3d;
                text-align: center;
                animation: right 5s infinite;
                transition: transform 4s;
                position: relative;
        
            .imageone{
                 position: absolute;
                 
            
            }
            .imagetwo{
        
                backface-visibility: hidden;
        
            }
            .imagetwo{
        
                transform: rotateY(180deg);
            }
            
            
        }
        
        
           @keyframes right {
           
             0% {transform: rotateY(0deg);}
             25% {transform: rotateY(40deg);}
             45%  {transform: rotateY(100deg);}
             65%   {transform: rotateY(150deg);}
             75%  {transform: rotateY(170deg);}
             100% {transform: rotateY(200deg);}
           }
           
         article{
            transform-style: preserve-3d;
                text-align: center;
                animation: right 5s infinite;
                transition: transform 4s;
                position: relative;
        
            .three{
                 position: absolute;
                 
            
            }
            .imagefour{
                backface-visibility: hidden;
        
            }
            .imagefour{
        
                transform: rotateY(180deg);
            }
              
        }
        
        iframe{
        
            height: 400px;
            width: 400px;
            border-radius: 20px;
        }
        
        }


        

@media(min-width:1000px) and (max-width:2000px) {

body{

    background-image: url(./wallpaper.jpg);
}

h1{
 text-align: center;
 margin-top: 4rem;
 text-decoration: underline;
 font-size: 4rem;
 background-color: rgb(203, 243, 243);
 


}

main{
display: flex;
gap: 1rem;
align-items: center;
justify-content: center;
margin-top: 7rem;
img{

    height: 400px;
    border: 0.2rem solid black;
    border-radius: 35%;
}

}


aside{
    transform-style: preserve-3d;
        text-align: center;
        animation: right 5s infinite;
        transition: transform 4s;
        position: relative;

    .imageone{
         position: absolute;
         
    
    }
    .imagetwo{

        backface-visibility: hidden;

    }
    .imagetwo{

        transform: rotateY(180deg);
    }
    
    
}


   @keyframes right {
   
     0% {transform: rotateY(0deg);}
     25% {transform: rotateY(40deg);}
     45%  {transform: rotateY(100deg);}
     65%   {transform: rotateY(150deg);}
     75%  {transform: rotateY(170deg);}
     100% {transform: rotateY(200deg);}
   }
   
 article{
    transform-style: preserve-3d;
        text-align: center;
        animation: right 5s infinite;
        transition: transform 4s;
        position: relative;

    .three{
         position: absolute;
         
    
    }
    .imagefour{
        backface-visibility: hidden;

    }
    .imagefour{

        transform: rotateY(180deg);
    }
      
}

iframe{

    border-radius: 20px;
}

}

